<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        
    </head>

    <body>
        <div class="main-content">

        </div>
        {{>header}}

        <p>{{errorMessage}}</p>

       {{>footer}}
       
    </body>
</html>