<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
         <link rel="icon" href="/img/web_icon.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
             <img class = portrait src="/img/dummy.jpg"> 
        </div>
       

       {{>footer}}
    </body>
</html>