<!DOCTYPE html>

<html>
    <head>
         <title>Home</title>
        <link rel="stylesheet" href="/css/styles.css">
        
        <link rel="icon" href="/img/web_icon.png">
    </head>

    <body>

        <div class="main-content">
            {{>header}}

            <p>Use this site to get info on weather...</p>

            <form action="">
                <input type="text" placeholder="Enter location">
                <button>Search</button>
            </form>


            <p id="message-1"></p>
            <p id ="message-2""></p>
        </div>
       

       {{>footer}}

       <script src="/js/app.js"></script>       <!-- place at last so that js file is called only after all compoennets are loaded. else will create error -->
       
    </body>
</html>